//
//  Prod.xcconfig
//  Dhuniya
//
//  Created by Lifeboat on 20/11/25.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974
BASE_URL = https://api.yourapi.com/
BUNDLE_ID = com.dhuniya.news.business.listings.classifieds.ott
APP_NAME = Dhuniya
