<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyANrrJZbH_DdugetBpj83mRy7wloBjbiCM</string>
	<key>GCM_SENDER_ID</key>
	<string>431136968603</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.lifeboat.Dhuniya</string>
	<key>PROJECT_ID</key>
	<string>dhuniya-development-2cf2b</string>
	<key>STORAGE_BUCKET</key>
	<string>dhuniya-development-2cf2b.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:431136968603:ios:c3765fc1eb28267eb31b3e</string>
</dict>
</plist>