<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBcOmxsvZwEmVnu3xOwJk7FX-5bs_M_Njw</string>
	<key>GCM_SENDER_ID</key>
	<string>455160465790</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Dhuniya.news.business.listings.classifieds.ott</string>
	<key>PROJECT_ID</key>
	<string>dhuniya-production</string>
	<key>STORAGE_BUCKET</key>
	<string>dhuniya-production.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:455160465790:ios:163383ac8b5b9e5f6a0b2f</string>
</dict>
</plist>